html
  height 100vh
  max-height 100vh
  max-width 100vw
  width 100vw
.earsfd-container
  -webkit-flex-direction column
  display -webkit-flex
  display flex
  flex-direction column
  height 100%
  max-height 100%
  max-width 100%
  width 100%
.upload
  -webkit-flex-order 0
  flex-order 0
  height 10%
  max-height 10%
  max-width 100%
  width 100%
.graph-container
  -webkit-flex-order 1
  flex-order 1
  height 90%
  max-height 90%
  max-width 95%
  width 95%
