extends layout

block content
  .upload
    input(type='file' name='files[]')#upload
  .graph-container
    #scatter
    #cumulative
    #histogram
    #arithmetic
    #laplace
    #correlogram
    #timeseries
  footer
    script(type='text/javascript').
      SystemJS.import('js/easrfd.js');
