doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    link(rel='stylesheet', href='css/fix.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='assets/jspm_packages/system.js' type='text/javascript')
    script(src='jspm.browser.js' type='text/javascript')
    script(src='jspm.config.js' type='text/javascript')
    title
      | Team F - OR Research
  body.earsfd-container
    block content
